{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="section">
        <div id="map"></div>
    </div>
    <span class="description">The Code For Miami Flood Tracking project has monitoring devices listed above. You can elect to get notified by a phone call, sms message, or both when our trackers detect a flood.</span>
  <div class="section form">
    <form action="/subscribe" method="post" class="column2">
      <span class="form-title">Subscribe to Flood Alerts Near You</span>
      <div class="form-group">
        {{form.phone_number.label}}<br>
        {{form.phone_number(pattern="(?:\(\d{3}\)|\d{3})[- ]?\d{3}[- ]?\d{4}", placeholder="123-456-7890", oninput="setCustomValidity('')", title="Valid US phone number including area code. Example: 123-456-7890")}}
      </div>
      <div class="form-group">
          {{form.device.label}}<br>
          {% for subfield in form.device %}
          <tr>
              <td>{{ subfield(required='required') }}</td>
              <td>{{ subfield.label }}</td>
          </tr>
          {% endfor %}
        </div>
        <div class="form-group">
          {{form.contact_method.label}}<br>
          {% for subfield in form.contact_method %}
          <tr>
              <td>{{ subfield(required='required') }}</td>
              <td>{{ subfield.label }}</td>
          </tr>
      {% endfor %}        
    </div>
          <span>
          <p>By clicking submit you agree to recive text messages and understand service provider rates may apply</p>
          {{ form.hidden_tag() }}
        </span>
        <div>
        {{form.submit()}}
      </div>
      </form>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnqGvxGX0guwpSNA_SSk4DfIVJ9okqowg&callback=initMap">
</script>
{% endblock %}