{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Home Page{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container">
  <div class="section">
    <form action="/subscribe" method="post">
        {{ form.hidden_tag() }}
    <h2>Lets find the closest Flood Tracker to you:</h2>
    {{form.zip_code.label}} {{form.zip_code(size=12)}}
  </div>
    <div class="section">
      <h2>Pick from the list below</h2>
      <div id="map"></div>
      {{form.device.label}}{{form.device(size=30)}}

    </div>
    <div class="section">
        <h2>Enter your phone number below (US numbers only please)</h2>
        {{form.phone_number.label}} {{form.phone_number(size=30)}}
      </div>
      <div class="section">
          <h2>Select how you'd like to be reached</h2>
          {{form.contact_method.label}} {{form.contact_method(size=30)}}
       </div>
       <div class="section">
        {{form.submit()}}
            </form>
       </div>
    </div>
{% endblock %}

{% block scripts %}
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnqGvxGX0guwpSNA_SSk4DfIVJ9okqowg&callback=initMap">
</script>
{% endblock %}