{% extends 'base.html' %}

{% block header %}
  <span>{% block title %} Device {{ device.id }} Reporting ({{device.name}}){% endblock %}</span>
{% endblock %}

{% block content %}
<div class="container">
    <div class="section">
      <canvas id="myChart"></canvas>
      <button id='minutes'>Minutes</button>
      <button id='hours'>Hours</button>
    </div>
  <div class="section">
    <span>Max Value: {{max_reading.reading_mm}}</span>
    <span>Reading Report: {{max_reading.reading_reported}}</span>
    <span>Core ID: {{ device.core_id }} </span>
    <span>Long/Lat: {{ device.longatuide }}/{{device.latitude}} </span>
    <table>
        <thead>
          <tr>
            <th>#</th>
            <th>Reading in mm</th>
            <th>Reading Reported Date</th>
          </tr>
        </thead>
        <tbody>
          {% for reading in readings %}
          <tr>
            <td>{{reading.id}}</td>
            <td>{{reading.reading_mm}}</td>
            <td>{{reading.reading_reported}}</td>
          </tr>
          {% endfor %}
        </tbody>
</table>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.bundle.min.js" integrity="sha256-xKeoJ50pzbUGkpQxDYHD7o7hxe0LaOGeguUidbq6vis=" crossorigin="anonymous"></script>
<script async defer
src="{{ url_for('static', filename='readings.js') }}">
</script>
{% endblock %}
