.container{
 display: flex;
 flex-direction: column;
 justify-content: center;
 text-align: center;
}

.section{
    margin: 10px;
}

#map {
    width: 50%;
    height: 400px;
    background-color: grey;
  }